<table class="table mx-auto table-striped table-bordered table-condensed text-center align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">School</th>
      <th scope="col">Position</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="teachers">
    <% teachers.each do |teacher| %>
      <%= render "customers/teachers/partial/teacher" , teacher: teacher %>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end" id="paginate-element">
  <%= paginate teachers, theme: 'bootstrap-5',
        params: {controller: 'teachers', action: 'index'} %></div>
