<%= hidden_field_tag :deleted, params[:deleted] if params[:deleted] %>
<div class="row g-2">
  <div class="col-md">
    <div class="form-floating">
      <%= search_fields.search_field :full_name_cont, class:"form-control", placeholder: "Search by Name", id:"floatingInputGrid" %>
      <label for="floatingInputGrid">Full Name</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <%= search_fields.select :grades_subject_eq,[["Show All", nil]] + Grade.subjects.map { |subject| [subject[0], subject[1]] }, {}, class: 'form-select', id:"floatingSelectGrid" %>
      <label for="floatingSelectGrid">Subjects</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <%= search_fields.submit "Search", class: "btn btn-success mt-2" %>
    </div>
  </div>
</div>
