<!-- app/views/students/index.html.erb -->
<h1>Students</h1>
<!-- Bảng để hiển thị danh sách học sinh -->
<table id="students-table" class="table mx-auto table-striped table-bordered table-condensed text-center align-middle">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Birthday</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <!-- Dữ liệu học sinh sẽ được thêm ở đây bằng JavaScript -->
  </tbody>
</table>
<!-- Phần pagination -->
<div class="text-center">
  <%= paginate @students, theme: 'bootstrap-5'%>s
</div>
<!-- Script sử dụng jQuery để thực hiện AJAX request -->
<%= javascript_include_tag "jquery" %>
<script>
  $(document).ready(function() {
    // Function để cập nhật bảng với dữ liệu mới

    function updateTable(data) {
      const tbody = $("#students-table tbody");
      tbody.empty(); // Xóa dữ liệu cũ

      console.log(data);
      // Thêm dữ liệu mới vào bảng
      data.forEach(function(student) {
        const row = $("<tr>");
        // Thêm các cột dữ liệu từ JSON vào hàng
        row.append($("<td>"));
        row.append($("<td>").text(student.id));
        const link = $("<a>")
        .attr("href", "/customers/students/" +  student.id)
        .addClass("text-decoration-none text-dark fw-bold")
        .text(student.last_name + " " + student.first_name);
        row.append($("<td>").append(link));
        row.append($("<td>").text(student.age));
        row.append($("<td>").text(student.address));
        row.append($("<td>").text(student.birthday));
        const button = $("<td>");
        if (student.deleted) {
            const restoreLink = $("<a>")
            .attr("href", "/customers/students/" + student.id + "/restore")
            .attr("data-turbo-method", "put")
            .attr("data-turbo-confirm", "Restore?")
            .addClass("btn btn-primary")
            .text("Restore");
            button.append(restoreLink);
        } else {
            const mediaLink = $("<a>")
            .attr("href", "/customers/students/" + student.id + "/media")
            .addClass("btn btn-primary")
            .text("Media");
            button.append(mediaLink);
        }
        row.append(button);
        tbody.append(row);
      });
    }

    // Xử lý sự kiện khi trang được tải
    fetchStudentsData(1); // Hiển thị trang đầu tiên khi trang được tải

    // Function để gửi AJAX request để lấy dữ liệu học sinh cho một trang cụ thể
    function fetchStudentsData(page) {
      $.ajax({
        url: "/customers/students", // Điều hướng đến action students_json
        method: "GET",
        dataType: "json",
        data: { page: page }, // Truyền số trang cần lấy dữ liệu
        success: function(data) {
          updateTable(data); // Cập nhật bảng với dữ liệu mới
        },
        error: function() {
          console.error("Error fetching data.");
        }
      });
    }

    // Xử lý sự kiện khi người dùng chuyển đến trang khác
    $("#students-table").on("click", ".page-link", function(e) {
      e.preventDefault();
      const page = $(this).attr("href").split("=")[1]; // Lấy số trang từ href của nút pagination
      console.log(page)
      fetchStudentsData(page); // Gửi AJAX request để lấy dữ liệu cho trang mới
    });
  });
</script>
