<h1>New student and grade</h1>
<%= render "customers/students/partial/form", student: @student %>
<div>
  <%= link_to "Back to students", customers_students_path, class:"btn btn-primary mt-2" %>
</div>
