<h1>Editing course</h1>
<%= render "customers/courses/partial/form", course: @course %>
<br>
<div>
  <%= link_to "Show this course", customers_course_path(@course) %> |
  <%= link_to "Back to courses", customers_course_path %>
</div>
