<%= form_with(model: [:customers, @course], remote: true, id: 'course-form') do |f| %>
  <div class="form-inputs row">
    <div class="form-group col">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control", style:"width:300px" %>
    </div>
    <div class="dropdown col mt-3">
      <button class="btn btn-info dropdown-toggle mt-2 mb-2" style="width: 200px" type="button" id="teacherDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select teacher
      </button>
      <ul class="dropdown-menu" aria-labelledby="teacherDropdown" data-value="" id="teacherDropdownMenu" style="max-height: 200px; overflow-y: auto;">
      </ul>
    </div>
  </div>
  <div class="form-actions">
    <button type="button" id="course_create" class="btn btn-primary mt-4" >Create Course</button>
  </div>
<% end %>
<%= javascript_include_tag "customer/ajaxteacher" %>
