<h1>Editing teacher</h1>
<%= render "customers/teachers/partial/form", teacher: @teacher %>
<br>
<div>
  <%= link_to "Show this teacher", @teacher %> |
  <%= link_to "Back to teachers", customers_teachers_path %>
</div>
